html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

:root {
    --main-color: #FF6565;
    --color-white: #FFF;
    --color-black: #071629;
    --main-font: 'Source Sans Pro', sans-serif;
    --font-size-medium: 1.6rem;
    --font-weight-regular: 400;
    --font-weight-bold: 500;
    --line-height-base: 1.5;
    --button-display: inline-block;
    --button-padding: 1.5rem 3rem;
    --button-border: var(--main-color) solid 0.2rem;
    --button-border-radius: 25%;
    --button-color: var(--color-white);
    --button-font-size: ;
    --button-text-decoration: ;
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    color: var(--color-black);
    font-family: var(--main-font);
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-base);
}

a {
    color: var(--color-black);
    text-decoration: none;
}

.button {
    display: var(--button-display);
    padding: var(--button-padding);
    margin: 1rem;
    border: none;
    border-top-left-radius: var(--button-border-radius);
    border-top-right-radius: var(--button-border-radius);
    border-bottom-left-radius: var(--button-border-radius);
    border-bottom-right-radius: var(--button-border-radius);
    font-size: var(--button-font-size);
    font-weight: var(--font-weight-bold);
    background-color: var(--main-color);
    color: var(--button-color);
    text-decoration: var(--button-text-decoration);
    text-transform: uppercase;
    cursor: pointer;
}
